@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*
 * #8EBE26 - green
 * #CC2914 - red
 * #39B7E8 - light blue
 * #0092CB - medium blue
 * #232C2F - blackium
 */


/* Global reset */ 
* { margin:0; padding:0; border:0; font-family: 'Open Sans', sans-serif; text-decoration:none; }

a { color: #232C2F; }

a:hover { color:#CC2914; }

hr { margin: 10px 0; height: 1px; background: #8EBE26; }

.center { margin: 0 auto; text-align: center; }

/* Clear fix */

.clf { zoom: 1; }

.clf:before,
.clf:after { content: ""; display: table; }

.clf:after { clear: both; }

/* Basics */

body { background:#FFF; }

/* Login */

#login { background: #EEE; }

#login form { width: 210px; margin: 0 auto; background: #FFF; padding:10px 20px; border: 3px solid #8EBE26; border-radius:10px; }

#login .copyright { font-size: 11px; padding: 20px; }

#login h1 { font-size:50px; text-decoration:none; color:#23557E; text-shadow:1px 1px 1px #B5D4DF; font-size: 30px; text-align: center; padding:0 0 10px 0; }

/* wrapper */

#wrapper { margin: 10px 20px; border: 1px solid #232C2F; border-radius: 10px; }

/* Header */

#header { background:#EEE; height:95px; position:relative; border-radius: 10px; }

#header h1 { line-height:55px; text-align:left; padding: 0 0 0 10px; }

#header h1 a { text-decoration:none; color:#232C2F; text-shadow:1px 1px 1px #39B7E8; font-size: 30px; }

#header h1 a span { font-size:12px; color:#0092CB; }

#header h1 a:hover,
#header h1 a:hover span { color:#232C2F; }

/* Userbar */

.userbar { position: absolute; top: 40px; right: 0px; }

.userbar li { margin: 0 5px; }

.userbar li,
.userbar li a { font-size: 11px; font-weight: bold; display: inline-block; }

.userbar li span { font-style: italic; }

.userbar li .config { padding-left: 20px; background: url('imgs/buttons/btconfig.png') left center no-repeat; }

.userbar li .logout { padding-left: 20px; background: url('imgs/buttons/btlogout.png') left center no-repeat; }

/* THEMES */

.themes { position: absolute; top: -10px; right: 5px; }

.themes a { border:1px solid #333; width: 6px; height: 6px; display: inline-block; font-size: 0px; outline: 0px; text-indent: -9999px; }

.themes .fixedred { background: #CC2914; }

.themes .liquidblue { background:#39B7E8; }

/* Content */

#content { padding:20px; }

#content > h3 { font:normal 22px Arial, Helvetica, sans-serif; padding: 0 5px 5px 5px; margin:0 0 15px 0; color:#0092CB; border-bottom: 1px solid #8EBE26; }

#content > h3 span { color: #39B7E8; font-size: 22px; }

/* footer */

#footer { margin:0 20px; }

#copyright { text-align:right; font-size:11px; font-weight:bold; color:#999; margin: 0 30px; }
