
/*///// Component - Dropdown /////*/

.dropdown { width:100%; background:#333; height:34px; background:#20344D; border-top:1px solid #333; }

.dropdown li a { height:34px; line-height:33px; padding:0 15px; text-transform:capitalize; color:#FFF; font-size:12px; }

.dropdown li a:hover { background: #23557E; }

.dropdown li ul { z-index:9999; background:#23557E; -moz-box-shadow:1px 1px 2px #587391; -webkit-box-shadow: 1px 1px 2px #587391; box-shadow: 1px 1px 2px #587391; }

.dropdown li ul li a { height:auto; padding: 5px 20px; display:block; line-height: normal; }

/*///// Component - Messages /////*/

.message li { margin:3px 15px; }

.message .error { box-shadow:0 0 3px 0px #D8000C; }

.message .success { box-shadow:0 0 3px 0px #4F8A10; }

.message .info { box-shadow:0 0 3px 0px #00529B; }

.message .warning { box-shadow:0 0 3px 0px #9F6000; }
