<engine>
<action selector=".dropdown">
	<ul>
		<li><a href="#home" class="ttip" title="Home">Home</a></li>
		<li> 
			<a href="#" title="Componentes">Components</a>
			<ul>
				<li>
					<a href="#" title="Navigation">Navigation</a>
					<ul>
						<li><a href="#dropdown" title="Dropdown">Dropdown</a></li>
					</ul>
				</li>
				<li> 
					<a href="#" title="Form">Forms</a>
					<ul>
						<li> <a href="#" title="Basic form">Basic form</a> </li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a href="#sendformbyframe" title="sendformbyframe">Send Form by Frame</a></li>
		<li><a href="#message" title="Message">Message</a></li>
		<li><a href="#togglepanel" title="Togglepanel">Togglepanel</a></li>
		<li><a href="#snippet" title="Snippet">Snippet</a></li>
		<li><a href="#tabpanel" title="Tabpanel">Tabpanel</a></li>
		<li><a href="#dialog" title="Dialog">Dialog</a></li>
	</ul>
</action>
<script>
        <![CDATA[
            $('.dropdown').children('ul').dropDown();
        ]]>
    </script>
</engine>
