<engine>
	<action selector=".navegation">
		<ul class="nav">
			<li>
				<a href="#home" class="ttip" title="Home">Home</a>
			</li>
			<li>
				<a href="#" title="Navigation">Navigation</a>
				<ul>
					<li>
						<a href="#dropdown" title="Dropdown">Dropdown</a>
					</li>
					<li>
						<a href="#togglepanel" title="Togglepanel">Togglepanel</a>
					</li>
					<li>
						<a href="#tabpanel" title="Tabpanel">Tabpanel</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" title="Forms">Forms</a>
				<ul>
					<li>
						<a href="#basicform" title="Basic form">Basic form</a>
					</li>
					<li>
						<a href="#datepicker" title="Date Picker">Date Picker</a>
					</li>
					<li>
						<a href="#autocomplete" title="Auto Compete">Auto Complete</a>
						<ul>
							<li>
								<a href="#autocomplete" title="Auto Compete">Simple</a>
							</li>
							<li>
								<a href="#autocompleteajax" title="Auto Compete">Ajax</a>
							</li>
						</ul>
					</li>					
				</ul>
			</li>
			<li>
				<a href="#" title="Tables">Tables</a>
				<ul>
					<li>
						<a href="#datatable">Datatable</a>
					</li>
					<li>
						<a href="#tablescroll">TableScroll</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" title="Others">Others</a>
				<ul>
					<li>
						<a href="#tooltip">Tooltip</a>
					</li>
					<li>
						<a href="#sendformbyframe" title="sendformbyframe">Send Form by Frame</a>
					</li>
					<li>
						<a href="#snippet" title="Snippet">Snippet</a>
					</li>
					<li>
						<a href="#message" title="Message">Message</a>
					</li>
					<li>
						<a href="#dialog" title="Dialog">Dialog</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" title="About">About</a>
			</li>
		</ul>
	</action>
	<script>
		<![CDATA[
		$('.nav').dropDown();
		]]>
	</script>
</engine>
