.compToggle { margin:10px 0;}

.compToggle > h3 { background: none; border-bottom:1px solid #8EBE26; padding:10px; }

.compToggle > h3 span { color:#009CD9; font-size: 18px; }

.compToggle p { margin:5px 0px; }
	
.buttons pre { margin:0 30px 0 0; display:inline; width: 100px; font-size: 11px;  }
