/*///// Component - Form /////*/

.forms input,
.forms select,
.forms textarea { padding:2px; border:1px solid #DDD; }

.forms ul li { list-style:none; margin:3px 0; }

.forms ul li label { text-align:right; margin:0 5px; display:inline-block; }

.forms ul .require span { color:#C00; }

