<engine>
	<action selector=".navigation">
		<ul>
			<li>
				<a href="#home" title="Home">Home</a>
			</li>
			<li>
				<a href="https://github.com/dextra/holy/downloads" title="Holy Download">Download</a>
			</li>
			<!--
			<li>
				<a href="#download" title="Holy Download">Download</a>
			</li>
			-->
			<li>
				<a href="https://github.com/dextra/holy/issues/new" target="_blank" title="Bug Report">Issues</a>
			</li>
			<li>
				<a href="#indexhtml" title="Base Code">Base Code</a>
			</li>
			<li>
				<a href="#!" title="Components">Components</a>
			</li>
			<li>
				<a href="#holy" title="Holy">Holy</a>
			</li>
			<li>
				<a href="#" title="Navigation">Navigation</a>
				<ul>
					<li>
						<a href="#dropdown" title="Dropdown">Dropdown</a>
					</li>
					<li>
						<a href="#togglepanel" title="Togglepanel">Togglepanel</a>
					</li>
					<li>
						<a href="#tabpanel" title="Tabpanel">Tabpanel</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" title="Forms">Forms</a>
				<ul>
					<li>
						<a href="#basicform" title="Basic form">Basic form</a>
					</li>
					<li>
						<a href="#buttons" title="Action Buttons">Buttons</a>
					</li>
					<li>
						<a href="#charcount" title="Char Count">Char Count</a>
					</li>
					<li>
						<a href="#mask" title="Input Mask">Input Mask</a>
					</li>
					<li>
						<a href="#autocomplete" title="Auto Compete">Auto Complete</a>
						<ul>
							<li>
								<a href="#autocomplete" title="Auto Compete">Simple</a>
							</li>
							<li>
								<a href="#autocompleteajax" title="Auto Compete">Ajax</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" title="Tables">Tables</a>
				<ul>
					<li>
						<a href="#datatable">Simple table</a>
					</li>
					<li>
						<a href="#tablescroll">TableScroll</a>
					</li>
					<li>
						<a href="#tableorder">Table Order</a>
					</li>
					<li>
						<a href="#toggletable">Toggle Table</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" title="Others">Others</a>
				<ul>
					<li>
						<a href="#tooltip">Tooltip</a>
					</li>
					<li>
						<a href="#sendformbyframe" title="sendformbyframe">Send Form by Frame</a>
					</li>
					<li>
						<a href="#message" title="Message">Message</a>
					</li>
					<li>
						<a href="#dialog" title="Dialog">Dialog</a>
					</li>
					<li>
						<a href="#sortchildren" title="Sort Children">Sort Children</a>
					</li>
					<li>
						<a href="#gotop" title="Go Top">GoTop</a>
					</li>
					<li>
						<a href="#loading" title="Loading">Loading</a>
					</li>
					<li>
						<a href="#trimpath" title="Trimpath">Trimpath</a>
					</li>
				</ul>
			</li>
		</ul>
	</action>
	<script>
		<![CDATA[
		$('.navigation > ul').dropDown({
			showlevel: true
		});
		]]>
	</script>
</engine>
