
* { margin:0; padding:0; border:0; text-decoration:none; list-style-position: inside; }

html,
body { overflow-x: hidden; }

body { background:#FFF; }

.clear { clear: both; height: 0;  line-height: 0;  visibility: hidden; display: none }


