* { margin:0; padding:0; border:0; font-family:Arial, Helvetica, sans-serif; text-decoration:none; }

.clf { zoom: 1; }
.clf:before,
.clf:after { content: ""; display: table; }
.clf:after { clear: both; }

#header { height:100px; position:relative; }

#header h1 a { text-decoration:none; position:absolute; left:20px; top:20px; }